# Ambiente virtual Python
venv/

# Arquivos temporários e de sistema operacional
.DS_Store

# Arquivos de banco de dados
*.sqlite3

# Arquivos temporários ou gerados (verificar se devem ser ignorados)
passos.py
form.txt