/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CARD CADASTRO */
.card-register {
    background: #fff;
    width: 400px;
    margin: 60px auto;
    padding: 35px 30px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
}

/* Título */
.card-register h2 {
    margin-bottom: 25px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #000;
}

/* FORM */
.card-register form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: left;
}

/* Cada campo gerado pelo {{ form.as_p }} */
.card-register form p {
    display: flex;
    flex-direction: column;
}

.card-register label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
}

/* Inputs */
.card-register input[type="text"],
.card-register input[type="email"],
.card-register input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    background: #d3d1d1a8;
    color: #000;
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

/* Botão */
.card-register button {
    margin-top: 15px;
    padding: 12px;
    border: none;
    background: #021047;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    transition: background 0.3s;
}

.card-register button:hover {
    background: #222222;
}

/* Links */
.card-register p {
    margin-top: 20px;
    font-size: 0.9rem;
}

.card-register a {
    color: #0077ff;
    text-decoration: none;
    font-weight: bold;
}

.card-register a:hover {
    text-decoration: underline;
}