/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* TÃTULO */
  main > h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 40px;
    color: #ffffffd1;
  }
  
  /* CARD LOGIN */
  .card-login {
    background: #fff;
    width: 350px;
    margin: 40px auto;
    padding: 30px 25px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  
  .card-login h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* FORM */
  .card-login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
  }
  
  .card-login label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .card-login input[type="text"],
  .card-login input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    background: #d3d1d1a8;
    color: #000000;
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  }
  
  .card-login button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: #021047;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    transition: background 0.3s;
  }
  
  .card-login button:hover {
    background: #222;
  }
  
  /* LINKS */
  .card-login p {
    margin-top: 20px;
    font-size: 0.9rem;
  }
  
  .card-login a {
    color: #0077ff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .card-login a:hover {
    text-decoration: underline;
  }
  