<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Modelo</title>
    <style>
      body {
        margin: 0;
        height: 100vh;
        background: linear-gradient(120deg, 
           #0a4da0 55%,   
           #0a4da0 65%,   
           #91e48b 85%)
      }
      </style>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-nav">
        <ul>
          <li><a href={%url 'nav'%}>TELA INICIAL</a></li>
          <li><a href={% url 'entradas' %}>NOVA RECEITA</a></li>
          <li><a href={% url 'saidas' %}>NOVA DESPESA</a></li>
          <li><a href="#">GRÁFICOS</a></li>
          <li><a href={%url 'extrato'%}>MOVIMENTAÇÕES FINANCEIRAS</a></li>
        </ul>
      </nav>

      {% if user.is_authenticated %}
      <span>Olá, {{ user.username }}</span>
      <a href="{% url 'logout' %}" , class="nav-link">Sair</a>
      {% else %}
      <a href="{% url 'login' %}" , class="nav-link">Entrar</a>
      {% endif %}
    </header>
    {% block content %} {% endblock content%}
  </body>
</html>
